/*
 * @file
 * Styles for CrowdRiff components within a WYSIWYG editor.
 */

.crowdriff-lens-wysiwyg-preview {
  border: 1px solid #eee;
  box-sizing: content-box;
  max-width: 850px;
}
.crowdriff-lens-wysiwyg-preview h2 {
  background-color: #eee;
  margin: 0;
  padding: 10px 20px 10px calc(20px + 1em);
  position: relative;
}
.crowdriff-lens-wysiwyg-preview h2::before {
  background-image: url("../images/crowdriff-icon-pink.png");
  background-size: 1em 1em;
  content: "";
  height: 1em;
  left: 10px;
  position: absolute;
  width: 1em;
}
.crowdriff-lens-wysiwyg-preview-images {
  max-height: 420px;
  overflow: hidden;
  padding: 5px;
}
.crowdriff-lens-wysiwyg-preview-images img {
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  max-width: 210px;
  padding: 5px;
  vertical-align: middle;
}
